
body, html{
  width: 100%;
  height: 100%; 
  background-color:#f2ede1;
  background-image: url('https://t7.rbxcdn.com/75a0176a17ec54327b418522497caf3b');
  background-size: cover;
  background-repeat: no-repeat;
}

#ihf-logo {
  width: 70px; 
  float: left;
  margin: -1% 1%;
}


ul {
   text-align: right;
   padding: 2% 0;
}

ul li {
  font-family: "Quicksand";
  display: inline;
  padding: 0 3%;
  font-size: 1.7em;
  padding-bottom: 10px;  
}


a {
  color: white;
  
}

a:hover {
  text-decoration: none;
  color: gray;
}

.active {
  /* border-bottom: solid 3px greenyellow; */
  color: palegreen;
  font-weight: bold;
}

.active:hover {
  color: palegreen;
  font-weight: bold;
}


span {
    color: lemonchiffon;
    font-weight: bold;
    text-shadow: 1px 1px 1px 1em black;
}

/* #work */.video-gallery {
	position: relative;
	margin: 10% auto 0 auto;
	/*padding: 1em 0 4em;*/
	max-width: 1000px;
	/*list-style: none;*/
	text-align: center;
    font-family: 'Raleway', sans-serif;
}

/* #work */ .video-gallery .gallery-item {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 580px; /* was 480px */
	max-height: 360px;
	width: 48%;
	background: #000;
	/*text-align: center;*/
	cursor: pointer;
    background: #000;
}

/* #work */ .video-gallery .gallery-item img {
	position: relative;
	display: block;
	/*min-height: 100%;
	max-width: 100%;*/
	opacity: 0.8;
  
  max-width: none;
	/*width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);*/
  width: 101%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* #work */ .video-gallery .gallery-item .gallery-item-caption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	/*-webkit-backface-visibility: hidden;
	backface-visibility: hidden;*/
}

/*.video-gallery .gallery-item .gallery-item-caption::before,
.video-gallery .gallery-item .gallery-item-caption::after {
	pointer-events: none;
}*/

/* #work */ .video-gallery .gallery-item .gallery-item-caption,
/* #work */ .video-gallery .gallery-item .gallery-item-caption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*.video-gallery .gallery-item .gallery-item-caption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}*/

/* #work */ .video-gallery .gallery-item h2 {
	word-spacing: -0.15em;
	font-weight: 300;
  
  position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}

/* #work */ .video-gallery .gallery-item h2 span {
	font-weight: 800;
}

.video-gallery .gallery-item h2,
.video-gallery .gallery-item p {
	margin: 0;
}

.video-gallery .gallery-item p {
	letter-spacing: 1px;
	font-size: 68%;
  
  padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

/* Moved to previous selector: 
.gallery-item {
	background: #000;
}*/

.video-gallery .gallery-item:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.video-gallery .gallery-item .gallery-item-caption {
	text-align: left;
}

/* Moved to previous selector:
.video-gallery .gallery-item h2 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}*/

.video-gallery .gallery-item h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

/* #work */ .video-gallery .gallery-item:hover h2::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* MOVED TO PREVIOUS .video-gallery .gallery-item p selector:
.video-gallery .gallery-item p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}*/

.video-gallery .gallery-item:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

@media screen and (max-width: 50em) {
	.video-gallery .gallery-item {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}


#aur-thumb {
  margin: 30px 30px;
  float: left;
} 


.vid-desc {
 /* margin: 10%; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 60%;
  height: 210px;
  background-color: skyblue;
  border-radius: 0.3em;
}

.vid-desc:hover {
  background-color:#d4e6f1;  
}

h3 {
  color: red;
  font-family: "Poppins";
  font-size: 2.8em;
  font-weight: bold;
  padding: 85px 0;
}

.content-heading {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}




/* ********************************** MEDIA QUERIES *********************************/


@media (max-width: 1300px) {
    h3 {
  font-size: 2.5em;
}
}


@media (max-width: 1050px) {
    h3 {
  font-size: 2.2em;
}
}


@media (max-width: 950px) {
    h3 {
  font-size: 2em;
}
}

@media (max-width: 915px) {
    h3 {
  position: relative;
  bottom: 15px;
  right: 15px;
}
}

}


@media (max-width: 850px) {
    h3 {
  font-size: 1.8em;
  padding: 10px 0;
}
}



@media (max-width: 735px) {
   h3 {
        position: relative;
        bottom: 25px;
        font-size: 1.6em;
    } 
}


@media (max-width: 710px) {
   position: relative;
   bottom: 50px;
}


@media (max-width: 550px) {
    #aur-thumb {
        text-align: center;
    }
    
    .vid-desc {
        width: 325px;
    }
}


@media (max-width: 450px) {
    ul li {
  font-size: 1.55em;
}
    
    #ihf-logo {
  width: 80px;
  display: table-cell;
  vertical-align: middle;
  margin: 20px auto 0 auto;
  float: none;
}
    
     ul {
  text-align: center;     
    }
    
    h3 {
        position: relative;
        bottom: 25px;
        font-size: 1.5em;
    }
}


@media (max-width: 400px) {
    #aur-thumb {
        text-align: center;
    }
    
    .vid-desc {
        width: 320px;
    }
}




