* {
  margin: 0;
  padding: 0;
}

body, html{
  width: 100%;
  height: 150%;
  font-size:12px;
  background-color:#f2ede1;
  background-image: url('https://t7.rbxcdn.com/75a0176a17ec54327b418522497caf3b');
  background-size: cover;
  background-repeat: no-repeat;
}

#ihf-logo {
  width: 70px; 
  float: left;
  margin: -1% 1%;
}


ul {
   text-align: right;
   padding: 2% 0;
}

ul li {
  font-family: "Quicksand";
  display: inline;
  padding: 0 3%;
  font-size: 1.7em;
  padding-bottom: 10px;  
}


a {
  color: white;
  
}

a:hover {
  text-decoration: none;
  color: gray;
}

.active {
  /* border-bottom: solid 3px greenyellow; */
  color: palegreen;
  font-weight: bold;
}

.active:hover {
  color: palegreen;
  font-weight: bold;
}

span {
    color: lemonchiffon;
    font-weight: bold;
    text-shadow: 1px 1px 1px 1em black;
}

.music-vid {
    box-shadow: 1em 1em 1em 0.3em; 
}

#back-link {
    margin: 0 0 0 20px;
    font-size: 1.4em;
}

i {
    margin: 0 2px 0 0;
}




/* #work */.video-gallery {
	position: relative;
	margin: 60px auto 0 auto;
	/*padding: 1em 0 4em;*/
	max-width: 1000px;
	/*list-style: none;*/
	text-align: center;
    font-family: 'Raleway', sans-serif;
}

/* #work */ .video-gallery .gallery-item {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 580px; /* was 480px */
    max-height: 360px;
	width: 48%;
	background: #000;
	/*text-align: center;*/
	cursor: pointer;
}

   .thumb {
    height: 325px;
}

/* #work */ .video-gallery .gallery-item img {
	position: relative;
	display: block;
	/*min-height: 100%;
	max-width: 100%; */
	opacity: 0.8;
    max-width: none;
	/*width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);*/
    width: 102%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* #work */ .video-gallery .gallery-item .gallery-item-caption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
}

 .video-gallery .gallery-item .gallery-item-caption,
 .video-gallery .gallery-item .gallery-item-caption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

 .video-gallery .gallery-item h2 {
	word-spacing: -0.15em;
	font-weight: 300;
  
  position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}

.video-gallery .gallery-item h2 span {
	font-weight: 800;
}

.video-gallery .gallery-item h2,
.video-gallery .gallery-item p {
	margin: 0;
}

.video-gallery .gallery-item p {
	letter-spacing: 1px;
	font-size: 68%;
  
  padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.video-gallery .gallery-item:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.video-gallery .gallery-item .gallery-item-caption {
	text-align: left;
}

.video-gallery .gallery-item h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

 .video-gallery .gallery-item:hover h2::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.video-gallery .gallery-item:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

@media screen and (max-width: 50em) {
	.video-gallery .gallery-item {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}

#showcase-area {
  width: 100%;
  text-align: center;
}

.panels {
  text-align: center;
}



/* ********************************** MEDIA QUERIES *********************************/



@media (max-width: 1200px) {
    ..thumb {
        height: 300px;
}
}


@media (max-width: 800px) {
    .thumb {
        height: 360px;
}
}


@media (max-width: 600px) {
    .music-vid {
        box-shadow: none;
}
}



@media (max-width: 500px) {
    #panel1-thumbnail, #panel2-thumbnail {
        width: 275px;
        height: 250px;
    }
    
    #panel1, #panel2 {
        width: 275px;
    }
    
    .thumb {
        height: 300px;
}

}


@media screen and (max-width: 50em) {
	.video-gallery .gallery-item {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}


@media (max-width: 450px) {
    ul li {
  font-size: 1.55em;
}
    
    #ihf-logo {
  width: 80px;
  margin: 20px auto 0 auto;
  float: none;
}
    
     ul {
  text-align: center;     
    } 
}



@media (max-width: 400px) {
    .thumb {
        height: 250px;
    }
    
    .aur-thumb {
    height: 225px;
}
}


@media (max-width: 355px) {
    ul li {
  font-size: 1.4em;
}
}









