* {
  margin: 0;
  padding: 0;
}

body{
  font-size:12px;
  background-color:#f2ede1;
  background-image: url('https://t7.rbxcdn.com/75a0176a17ec54327b418522497caf3b');
  background-size: cover;
  background-repeat: no-repeat;
}

#ihf-logo {
  width: 70px; 
  float: left;
  margin: -1% 1%;
}


ul {
   text-align: right;
   padding: 2% 0;
}

ul li {
  font-family: "Quicksand";
  display: inline;
  padding: 0 3%;
  font-size: 1.7em;
  padding-bottom: 10px;  
}


a {
  color: white;
  
}

a:hover {
  text-decoration: none;
  color: gray;
}

.active {
  /* border-bottom: solid 3px greenyellow; */
  color: palegreen;
  font-weight: bold;
}

.active:hover {
  color: palegreen;
  font-weight: bold;
}

#showcase-area {
  width: 100%;
  text-align: center;
}

.panels {
  text-align: center;
}

#panel1, #panel2 {
  text-align: center;
  width: 300px;
  height: 300px;
  background-color: white;
  display: inline-block;
  margin: 3% 3% 0% 3%; 
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em 0.2em 0.1em  #212f3c;
}

.new-row {
  text-align: center;  
}

#panel1-thumbnail, #panel2-thumbnail {
  width: 300px;
  height: 250px;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

#panel1-thumbnail {
  background-image: url('aur.jpg');
  background-size: cover;   
}

#panel2-thumbnail {
  background-image: url('aur2.jpg');
  background-size: cover;   
}

#panel1-header {
  background-color: white;  
  border-radius: 0.5em;
}

#panel2-header {
  background-color: white;  
  border-radius: 0.5em;
}

#panel1-header, #panel2-header {
  width: 100%;
  height: 50px;
  border-top: solid 1px lightgray;    
}

h5 {
  color: cornflowerblue;
  margin-top: 10px;
  font-family: "Muli";
}



/* ********************************** MEDIA QUERIES *********************************/



@media (max-width: 500px) {
    #panel1-thumbnail, #panel2-thumbnail {
        width: 275px;
        height: 250px;
    }
    
    #panel1, #panel2 {
        width: 275px;
    } 
}


@media (max-width: 450px) {
    ul li {
  font-size: 1.55em;
}
    
    #ihf-logo {
  width: 80px;
  margin: 20px auto 0 auto;
  float: none;
}
    
     ul {
  text-align: center;     
    }
}










