@import 'https://fonts.googleapis.com/css?family=Katibeh';


* {
  margin: 0;
  padding: 0;
}

body, html{
  width: 100%;
  height: 100%;
  font-size:12px;
  background-color:#f2ede1;
  background-image: url('https://t7.rbxcdn.com/75a0176a17ec54327b418522497caf3b');
  background-size: cover;
  background-repeat: no-repeat;
}

#ihf-logo {
  width: 70px; 
  float: left;
  margin: -1% 1%;
}

ul {
   text-align: right;
   padding: 2% 0;
}

ul li {
  font-family: "Quicksand";
  display: inline;
  padding: 0 3%;
  font-size: 1.7em;
  padding-bottom: 10px;  
}


a {
  color: white;
  
}

a:hover {
  text-decoration: none;
  color: gray;
}

.active {
  /* border-bottom: solid 3px greenyellow; */
  color: palegreen;
  font-weight: bold;
}

.active:hover {
  color: palegreen;
  font-weight: bold;
}

#alvinnn-heading {
    font-family: 'Passion One';
    font-size:4.25em;
    color: white;
    line-height:40px;
    font-weight:normal;
    margin:0;
    padding:0 0 50px 0;
    animation-duration: 2s;
  }

#container {
  display:table;
  text-align: center;
  margin: 6% 5%;
}



#gallery {
  position: relative;
  z-index:7000;
}

.cssbox {
  display: inline-block;
  margin: 10px 10px;
  box-shadow: 1px 1px 2em black;
}

span.cssbox_full {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.8);
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s linear;
  z-index:8000;
  padding-bottom:80px;
}

span.cssbox_full img {
  position: fixed;
  background-color: white;
  margin: 0;
  padding: 0;
  max-height: 90%;
  max-width: 70%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px black;
  border-radius: 0.5em;
}

a.cssbox_close,
a.cssbox_prev,
a.cssbox_next {
  position: fixed;
  text-decoration: none;
  visibility: hidden;
  color: white;
  font-size: 36px;
  z-index:8000;
  cursor:pointer;
}

a.cssbox_close {
  top: 1%;
  right: 1%;
}

a.cssbox_close::after {
  content: '\00d7';
 /* line-height:1.125em;*/
  line-height:1em;
}

a.cssbox_prev,
a.cssbox_next {
  top: 50%;
  transform: translate(0%, -50%);
}

a.cssbox_prev {
  left: 2%;
}

a.cssbox_next {
  right: 2%;
}

a:target ~ a.cssbox_close,
a:target ~ a.cssbox_prev,
a:target ~ a.cssbox_next {
  visibility: visible;
}

a:target > img.cssbox_thumb + span.cssbox_full {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}

span.cssbox_full {
  cursor: initial;
}
  

/* This is the end of CSSBox */

.cssbox:not(:first-child) .cssbox_thumb{
  // display:none;
}

.cssbox_prev:after{
  content:"\2039";
  text-align: center;
}
.cssbox_next:after{
  content:"\203A";
}

.cssbox_prev:after, .cssbox_next:after, .cssbox_close::after{
  font-family:arial;
  font-weight:normal;
  font-size:28px;
  line-height:28px;
    // background-color:#fff;
  height:30px;
  width:30px;
  display:block;
  font-family:arial;
  color: #bfbfbf;
  border:2px solid;
  border-radius:80px;
  text-align:center;
}

.cssbox_next:hover:after, .cssbox_prev:hover:after,.cssbox_close:hover:after{
  color: #fff;
  background-color: #bfbfbf;
  border:2px solid #bfbfbf;
}

#fma-heading {
  color: white;
  font-size: 4em;
  text-shadow: 1px 1px black;
  font-family: "Passion One";
  margin: 100px 0 30px 0;
}

#alvinnn-heading {
  text-shadow: 1px 1px black;
}

#fma {
    color: darkred;
    letter-spacing: 1px;
}

#border {
  color: white;  
}

#alvinnn {
    color: yellow;
    text-shadow: 2px 1px red;
}



#thumbnail3, #thumbnail5, #thumbnail7, #thumbnail9  {
    animation-duration: 2s;
}

#thumbnail1, #thumbnail6, #thumbnail8, #thumbnail10 {
    animation-duration: 3s;
}

 #thumbnail2, #thumbnail4, #thumbnail11 {
    animation-duration: 4s;
}  

.opaque {
    opacity: 0.5;
}




/* ********************************** MEDIA QUERIES *********************************/


@media (max-width: 450px) {
    .cssbox_thumb {
        margin: 0 auto;
        width: 300px;
        height: 200px;
    }
    
    #alvinnn-heading {
    font-size: 3.2em;
    margin: 10px 0 0 0;
  }
    
    #fma-heading {
  font-size: 3.3em;
}  
   
    ul li {
  font-size: 1.55em;
}
    
    #ihf-logo {
  width: 80px;
  display: table-cell;
  vertical-align: middle;
  margin: 20px auto 0 auto;
  float: none;
}
    
     ul {
  text-align: center;     
    }
    
    .cssbox {
  display: inline-block;
  margin: 10px 10px;
  
}
         
    
}









