

/* ANIMATIONS */

@keyframes fadeIn {
    from {
        margin: 0;
        width: 0px;
        height: 0px;
        opacity: 0.1;
        -moz-opacity: 0.1;
        -webkit-opacity: 0.1;
        -o-opacity: 0.1;
    }
    
    to {
        width: 125px;
        opacity: 0.3;
        -moz-opacity: 0.3;
        -webkit-opacity: 0.3;
        -o-opacity: 0.3;
    }
}

@-moz-keyframes fadeIn {
    from {
        margin: 0;
        width: 0px;
        height: 0px;
        opacity: 0.1;
        -moz-opacity: 0.1;
        -webkit-opacity: 0.1;
        -o-opacity: 0.1;
    }
    
    to {
        width: 125px;
        opacity: 0.3;
        -moz-opacity: 0.3;
        -webkit-opacity: 0.3;
        -o-opacity: 0.3;
    }
}

@-webkit-keyframes fadeIn {
    from {
        margin: 0;
        width: 0px;
        height: 0px;
        opacity: 0.1;
        -moz-opacity: 0.1;
        -webkit-opacity: 0.1;
        -o-opacity: 0.1;
    }
    
    to {
        width: 125px;
        opacity: 0.3;
        -moz-opacity: 0.3;
        -webkit-opacity: 0.3;
        -o-opacity: 0.3;
    }
}

@-o-keyframes fadeIn {
    from {
        margin: 0;
        width: 0px;
        height: 0px;
        opacity: 0.1;
        -moz-opacity: 0.1;
        -webkit-opacity: 0.1;
        -o-opacity: 0.1;
    }
    
    to {
        width: 125px;
        opacity: 0.3;
        -moz-opacity: 0.3;
        -webkit-opacity: 0.3;
        -o-opacity: 0.3;
    }
}




/* STYLING */



* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  background-image: url('https://images.pexels.com/photos/46248/owl-hunt-nature-hunter-46248.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
}

#ihf-logo {
  position: relative;
  width: 5%; 
  margin: 0% 2%;
  float: left;
 /* bottom: 16px;
  left: 60px; 
  position: relative;
  bottom: 20%;
  margin: 0 4%; */
}

/*
.nav-bar {
  width: 100%;
  height: 100%;
  /*height: 70px;
  background-color: black;
}
*/
#navbar {
    position: absolute;
    width: 100%;
    height: 70px;
    margin-right: 0;
    padding: 0;
    list-style: none;
    background: #222;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

#navbar li {
    position: relative;
    right: 125px;
    line-height: 70px; 
    background: inherit;
    text-align: center;
    transition: all .2s;
    float: right;
}

#navbar li a {
    position: relative;
    display: block;
    padding: 0 30px;
    line-height: inherit;
    color: white;
    text-decoration: none;
}

#navbar li:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    background: #222;
    border-radius: 50%;
    transform: rotate(45deg);
    transition: all 0, background .2s;
}
#navbar li:hover:before {
    margin-top: 1px;
    border-radius: 50% 50% 0 50%;
    transition: all .1s, background .2s, margin-top .2s cubic-bezier(.5,30,.2,0);
}
#navbar li:hover,
#navbar li:hover:before {
    background: #3a3a3a;
}
#navbar li.active,
#navbar li.active:before {
    background: gray;
}

/*
ul {
  padding: 1.5% 10% 1.5% 0;
  padding-right: 50px;
  float: right;  
  height: 100%;
}

ul li {
  font-family: "Questrial";
  display: inline;
  color: white;
  padding: 35px; 
  padding: 11px 35px; 
  /*padding: 0 35px;
  font-size: 1.2em; 
} 

ul li:hover {
  color: gray;
}


a {
  color: white;
}

a:hover {
  color: gray;
  text-decoration: none;
}

.active {
  /*border-bottom: solid 4px white;*/
}

.active:hover {
  color: white;
}

*/
#heading {
  color: white;
  position: relative;
  /*top: 180px; */
  text-align: center; 
  padding: 11% 0 8% 0; 
}

#subscribe {
 /* position: relative;
  top: 320px; */
}

#email-field {
  width: 250px;
  margin: 0 7px; 
  padding: 0 0 1px 0;
}

#footnote {
  color: skyblue;
  margin: 12px 0; 
  font-family: "Questrial";
}

#new {
  color: lime;
  font-weight: bold;
}

#overlay {
  width: 100%;
  height: 100%;
  background-color: rgba( 125, 60, 152, 0.6);
}

#btn {
  font-family: "Questrial";
  color: white;
  /*background-color: white;*/
  padding: 5px 5px;
  border-radius: 0.2em;
}

#btn:hover {
  background-color: gainsboro;
}

h1 {
  padding-top: 14%;
  text-align: center;
  font-family: Raleway;
  font-size: 4em;
  font-weight: bold;
  letter-spacing: 10px;
  color: white; 
}

h3 {
  font-size: 1.8em;
  margin-bottom: 10%;
  text-align: center;
  font-family: Questrial;
  color: white; 
}

.copyright {
  text-align: center;
  position: relative;
}

#cp {
  color: gainsboro;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0.5;
  letter-spacing: 1px;
}

.thumbnails {
  margin: 0 30px;
  height: 125px;
  width: 125px;
  background-color: white;
  border-radius: 50%;
  padding: 0 20px; 
  opacity: 0.3;
  display: inline-block;
  animation: 3s fadeIn ease-in; 
}

#all-thumbnails {
   /* position: relative;
    top: 350px; */
    padding-top: 3%;
    text-align: center;
}

.aatc {
  float: left;
}

.fma {
  float: right;
}

#alvinnn {
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/21/ab/90/21ab908a66d0bd7155347963857d7034.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: 2s fadeIn; 
}

#aatc {
  background-image: url('https://imgs.tuts.dragoart.com/how-to-draw-alvin-and-the-chipmunks_1_000000000388_5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  animation: 2s fadeIn ease-in; 
}

#fma {
  background-image: url('http://statici.behindthevoiceactors.com/behindthevoiceactors/_img/chars/edward-elric-fullmetal-alchemist-80.9.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: 3s fadeIn ease-in; 
}

#fmab {
  background-image: url('https://static.zerochan.net/Edward.Elric.full.200105.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: 4s fadeIn ease-in; 
}

.thumbnail-hover {
    margin: 0;
    padding: 0;
    opacity: 1;
    width: 200px;
    height: 125px;
    border-radius: 1em;
}

 {
  margin: 0;
    padding: 0;
    opacity: 1;
    width: 200px;
    height: 125px;
    border-radius: 5%;  
}

#alvinnn-text {
  position: relative;
  right: 375px;  
  font-size: 1.5em;
  bottom: 85px;
  visibility: hidden;
}

#aatc-text {
  position: relative;
  right: 220px;  
  font-size: 1.5em;
  bottom: 137px;
  visibility: hidden;
}

#fma-text {
  position: relative;
  right: 88px;  
  font-size: 1.5em;
  bottom: 188px;
  visibility: hidden;
}

#fmab-text {
  position: relative;
  left: 50px;  
  font-size: 1.5em;
  bottom: 240px;
  visibility: hidden;
}

.reveal-text {
  visibility: visible;
}

#section1 {
    width: 100%;
    height: 100%;
}

