
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

* {
  margin: 0;
  padding: 0;
}

body, html{
  width: 100%;
  height: 150%;
  font-size:12px;
  background-color:#f2ede1;
  background-image: url('https://t7.rbxcdn.com/75a0176a17ec54327b418522497caf3b');
  background-size: cover;
  background-repeat: no-repeat;
}

#ihf-logo {
  width: 70px; 
  float: left;
  margin: -1% 1%;
}


ul {
   text-align: right;
   padding: 2% 0;
}

ul li {
  font-family: "Quicksand";
  display: inline;
  padding: 0 3%;
  font-size: 1.7em;
  padding-bottom: 10px;  
}


a {
  color: white;
  
}

a:hover {
  text-decoration: none;
  color: gray;
}

.active {
  /* border-bottom: solid 3px greenyellow; */
  color: palegreen;
  font-weight: bold;
}

.active:hover {
  color: palegreen;
  font-weight: bold;
}

.wrapper {
  display: table; 
  height: 100%;
  width: 100%;
  margin-top: 10%;
}

.content {
  display: block;
}

.card {
    display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 dimgray; 
    transition: box-shadow .25s; 
}

.card:hover {
  box-shadow: 0 8px 17px 0 black;
}

.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}

.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 


.card-content {
  padding:15px;
  text-align:left;
}

.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}

.card-title a {
  color: #000;
  text-decoration: none !important;
}

h4 {
    text-align: center;
}

.card-read-more {
  border-top: 1px solid #D4D4D4;
}


.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}



/* ********************************** MEDIA QUERIES *********************************/


@media (max-width: 1300px) {
    h3 {
  font-size: 2.5em;
}
}


@media (max-width: 1050px) {
    h3 {
  font-size: 2.2em;
}
}


@media (max-width: 950px) {
    h3 {
  font-size: 2em;
}
}

@media (max-width: 915px) {
    h3 {
  position: relative;
  bottom: 15px;
  right: 15px;
}
}

}


@media (max-width: 850px) {
    h3 {
  font-size: 1.8em;
  padding: 10px 0;
}
}



@media (max-width: 735px) {
   h3 {
        position: relative;
        bottom: 25px;
        font-size: 1.6em;
    } 
}


@media (max-width: 710px) {
   position: relative;
   bottom: 50px;
}


@media (max-width: 550px) {
    #aur-thumb {
        text-align: center;
    }
    
    .vid-desc {
        width: 325px;
    }
}


@media (max-width: 450px) {
    ul li {
  font-size: 1.55em;
}
    
    #ihf-logo {
  width: 80px;
  display: table-cell;
  vertical-align: middle;
  margin: 20px auto 0 auto;
  float: none;
}
    
     ul {
  text-align: center;     
    }
    
    h3 {
        position: relative;
        bottom: 25px;
        font-size: 1.5em;
    }
}


@media (max-width: 400px) {
    #aur-thumb {
        text-align: center;
    }
    
    .vid-desc {
        width: 320px;
    }
}


@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
} 



