
* {
  margin: 0;
  padding: 0;
}

body{
  font-size:12px;
  background-color:#f2ede1;
  background-image: url('https://t7.rbxcdn.com/75a0176a17ec54327b418522497caf3b');
  background-size: cover;
  background-repeat: no-repeat;
}

#ihf-logo {
  width: 70px; 
  float: left;
  margin: -1% 1%;
}













