
* {
  margin: 0;
  padding: 0;
}

body{
  font-size:12px;
  background-color:#f2ede1;
  background-image: url('https://t7.rbxcdn.com/75a0176a17ec54327b418522497caf3b');
  background-size: cover;
  background-repeat: no-repeat;
}

#ihf-logo {
  width: 70px; 
  float: left;
  margin: -1% 1%;
}


ul {
   text-align: right;
   padding: 2% 0;
}

ul li {
  font-family: "Quicksand";
  display: inline;
  padding: 0 3%;
  font-size: 1.7em;
  padding-bottom: 10px;  
}


a {
  color: white;
  
}

a:hover {
  text-decoration: none;
  color: gray;
}

.active {
  /* border-bottom: solid 3px greenyellow; */
  color: palegreen;
  font-weight: bold;
}

.active:hover {
  color: palegreen;
  font-weight: bold;
}

#aur-thumb {
  margin: 30px 30px;
  float: left;
}

#alvinnn-musicvids {
  margin: 20px 30px;  
}


.vid-desc {
 /* margin: 10%; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 60%;
  height: 210px;
  background-color: skyblue;
  border-radius: 0.3em;
}

.vid-desc:hover {
  background-color:#d4e6f1;  
}

h3 {
  color: red;
  font-family: "Poppins";
  font-size: 3em;
  font-weight: bold;
  padding: 85px 0;
}

.content-heading {
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;
}









